* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexJustifyCenter {
    justify-content: center;
}

.flexAlignCenter {
    align-items: center;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}